{{ if .Site.Data.homepage.pricing.enable }}
{{ with .Site.Data.homepage.pricing }}
<section id="price">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading wow fadeInUp" data-wow-duration="0ms" data-wow-delay="0ms">{{ .title | markdownify }}</h1>
                    <p class="wow fadeInUp" data-wow-duration="0ms" data-wow-delay="10ms">{{ .description | markdownify }}</p>
                    {{ range .sections }}
                    <div class="pricing-list">
                        <div class="title">
                            <h3>{{ .sectionName | markdownify }}</h3>
                        </div>
                        <ul>
                            {{ range .pricingItem }}
                            <li class="wow fadeInUp" data-wow-duration="0ms" data-wow-delay="0ms">
                                <div class="item">
                                    <div class="item-title">
                                        <h2>{{.title}}</h2>
                                        <div class="border-bottom"></div>
                                        <span>{{.price}}</span>
                                    </div>
                                    <p>{{.description}}</p>
                                </div>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                    {{ end }}
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
        <div class="row" style="display: none;">
            <div class="col-md-12">
                <div class="block">
                    <p class="pickup">
                        <span class="sale_range">
                            冬季限定販売!!(11月から翌年2月末日まで)
                        </span>
                        <br />
                        <br />
                        モツ煮込み 1パック(約2人前) 580円(税抜537円) / 1人前 350円(税抜324円)
                        <br />
                        もつライス 580円(税抜537円)
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <p class="note">
                        その他、パーティーオードブル 2,300円・3,240円
                        <br/>
                        各種仕出しも承ります。
                        <br/>
                        ご要望あれば、まずはご相談ください。
                    </p>
                </div>
            </div>
        </div>
    </div><!-- .containe close -->
</section><!-- #price close -->
{{end}}
{{end}}
